include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include subscription *.css
recursive-include subscription *.csv
recursive-include subscription *.html
recursive-include subscription *.ico
recursive-include subscription *.js
recursive-include subscription *.json
recursive-include subscription *.md
recursive-include subscription *.png
recursive-include subscription *.py
recursive-include subscription *.svg
recursive-include subscription *.txt
recursive-exclude subscription *.pyc