<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #datetime-page {
            width:100%;
            text-align:right;
            height:100px;
            padding: 10px;
        }

        #body {
            height:10.5in;
            max-height:11.2in;
            display: flex;
            flex-direction:column;
        }

        #header-group{
            display:flex;
            flex-direction:row;
            margin-bottom:10px;
            margin-top:100px;
        }

        #header-left {
            width: 80%;
            display:flex;
            flex-direction:column;
            padding-left:10px;
        }

        #header-right {
            display:flex;
            flex-direction:column;
            padding-left:5px;
        }

        #subscription-prog {
            word-wrap: break-word;
            text-align:left;
            margin-left:250px;
            margin-right:40px;
            font-weight:bold;
            font-size:12px;
            height:48px;
        }

        #details {
            /*border:solid;*/
            height:550px;
            margin-top:30px;
            margin-left: 60px;
            margin-right:60px;
            font-size:12px;
        }

        #details tbody tr{
            width:100%;
            display:flex;

        }

        tbody {
            display:flex;
            flex-direction:column;
        }

        .bold {
            font-weight: bold;
            font-size:13px;
        }

        .text-right {
            text-align:right;
        }

        @page {
            margin:0;
            height:11.2in;
        }

        .c1 {

            width:60%;
        }

        .c2 {
            flex:1;
            text-align:right;
        }

        .c3 {
            flex:1;
            text-align:right;
        }

        .c4 {
            flex:1;
            text-align:right;
        }

        .c5 {
            flex:1;
            text-align:right;
        }

    </style>
</head>
<body>
    {% set current_month = frappe.get_doc("Subscription Period", doc.subscription_period) %}
    {% set prev = current_month.start_date | string %}
    {% set cyear, cmonth, cday = prev.split("-") %}
    {% set xyear, xmonth, xday = prev.split("-") %}

    {% if ((cmonth | int) - 1) == 0 %} {% set cyear = ((cyear | int) - 1) | str %}
        {% set cmonth = 12 | str %}
    {% endif %}

    {% if ((xmonth | int) - 1) == 0 %}
        {% set xyear = ((xyear | int) - 1) | str %}
        {% set xmonth = 12 | str %}
    {% else %}
        {% set xyear = (xyear | int) | str %}
        {% set xmonth = ((xmonth | int) - 1) | str %}
    {% endif %}

    {% set prev = [cyear, cmonth, cday] | join("-") %}
    {% set xprev = [xyear, xmonth, xday] | join("-") %}

    {% set m, d, y = frappe.format_date(prev).split(" ") %}
    {% set xm, xd, xy = frappe.format_date(xprev).split(" ") %}

    {% set bill_ff = "" %}
    {% set total_amount = 0 %}


    {% set cur_page = namespace(value=0) %}
    {% set total_page = doc.billings|length %}

    {% for bill in doc.billings %}
    {% set subs_bill = frappe.db.get_list('Subscription Bill Item', {'parent': bill.bill_no,'customer': bill.customer,'bill_date': bill.date}, ['*']) %}
    {% set tab_customer = frappe.db.sql("""select  signatory from `tabCustomer` where name = %(cust)s""", {'cust': bill.customer}, as_dict=True) %}



    {% macro above_items() %}

        {% set cur_page.value = cur_page.value + 1 %}
        <div id="datetime-page">
            {{ frappe.utils.now_datetime().strftime('%Y-%m-%d %H:%M:%S') }} Page {{ cur_page.value }} out of {{ total_page }}
        </div>
        <!--Header-->
        <div id="header-group">
            <div id="header-left">
                <div style="margin-left: 360px; margin-top:25px;">
                    <p style='font-size: 15px'>{{ bill.customer }} {{ "row_count.value" }}</p>
                </div>
                <div style="margin-left:40px;">
                    <div>
                        {{ bill.customer_name }}
                    </div>
                    <div>
                        {%- if frappe.db.get_value("Address",  bill.customer + '-office', "address_line1") is not none -%}
                            {{ frappe.db.get_value("Address",  bill.customer + '-office', "address_line1")}}
                        {%- endif -%}
                    </div>
                    <div>
                        {% if tab_customer %}
                            ATTENTION: {{ tab_customer[0].signatory or ' ' }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="header-right">
                <div style="margin-bottom:10px; margin-top:10px"><p>{{ bill.bill_no }}</p></div>
                <div><p>{{ frappe.format_date(bill.billing_date) }}</p></div>
            </div>
        </div>
        <div id="subscription-prog">
            <!--{% for subs in subs_bill %}-->
            <!--    {{ subs.subscription_program  }}-->
            <!--{% endfor %}-->
           AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </div>
        <!--Header-->




    {% endmacro %}


    {% macro below_items() %}
                <tr>
                        <td class="c1" style="font-weight:bold">TOTAL AMOUNT DUE & COLLECTIBLE AS OF {{ m.upper() + " " + y }}</td>
                        <td class="c2"></td>
                        <td class="c3" style='color:white;'></td>
                        <td class="c4" style="font-weight:bold">Php</td>
                        {% set total_amount_due = [] %}
                        {% set totals_subs = frappe.db.get_list('GL Entry', {'party':bill.customer,'posting_date': ['<', prev]}, [' sum(debit) as balance','sum(credit) as paid', 'voucher_no']) %}
                        {% set totals_payment = frappe.db.get_list('Payment Entry', {'party':bill.customer,'posting_date': ['between', [current_month.start_date, current_month.end_date]], 'docstatus': 1}, [' sum(paid_amount) as paid_amount']) %}

                        <!--journal entry-->
                        {% set account_entries = frappe.db.sql("""
                            SELECT
                                jea.parent, je.name as journal, je.posting_date, je.soa_remark_3, jea.party as customer,
                                sum(
                                    case
                                        when jea.debit = 0 then -jea.credit
                                    else jea.debit
                                    end
                                ) as amount,

                                case
                                    when sum(jea.debit) = 0 then 'credit'
                                else 'debit'
                                end as debit_credit

                            FROM
                                `tabJournal Entry Account` jea
                            LEFT JOIN
                                `tabJournal Entry` je ON je.name = jea.parent
                            WHERE
                                jea.party = %(customer)s AND jea.docstatus = 1 and je.naming_series in ('BILL-JV-.YYYY.-', 'BILL-JV-.YYYY.-.MM.-.####') and je.posting_date between %(start_date)s and %(end_date)s and jea.account LIKE %(like)s

                        """,
                        {'customer': bill.customer, 'start_date': current_month.start_date, 'end_date': current_month.end_date, 'like': '%ACCTS. REC.%'}, as_dict=True)
                        %}

                        {% set _ = total_amount_due.append((total_amount or 0) - (totals_payment[0].paid_amount or 0)) %}
                        {% set _ = total_amount_due.append(account_entries[0].amount or 0) %}

                        <td class="c5 btm-border text-right" style="border-bottom:double; font-weight:bold">{{ frappe.format(total_amount_due|sum, {'fieldtype':'Currency','options':'PHP' }) }}</td>
                    </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td width='20%' class="tg-0lax" colspan="">NOTE: &nbsp; MSF NO.</td>
                    <td width='50%' class="text-left" style='margin-right:200px; text-align:left;'>
                        <table style='margin-left:-5px; margin-top:-8px; text-align:right;'>
                            {% set note_subs_bill = frappe.db.get_list('Subscription Bill Item', {'parent': bill.bill_no,'customer': bill.customer,'bill_date': bill.date}, ['*'], group_by='psof_no') %}

                            <!--start loop note_subs_bill-->
                            {% for subs in note_subs_bill %}
                                {% set psof_programs = frappe.db.get_list('PSOF Program', {'parent': subs.psof_no}, ['sum(subscription_fee) as subs_fee']) %}

                                <!--start loop psof_programs-->
                                {% for psof_program in psof_programs %}
                                    <tr>
                                        <td>
                                            {{ subs.psof_no  }} @ $ &nbsp; {{ frappe.format( psof_program.subs_fee  , {'fieldtype':'Currency','options':'PHP' }) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <!--end loop psof_programs-->

                            {% endfor %}

                            <!--end loop note_subs_bill-->
                        </table>
                    </td>
                </tr>
                <tr><td></td>
                </tr>


    {% endmacro %}



    {% set pr = [1] %}
<!--    <h1> PAGE {{ pr[-1] }} </h1>-->

    {% set lines = [0] %}

<!--  *************************************************************  -->
                 <div id="body">
        {% set sub_totals = frappe.db.get_list('GL Entry', {'party':bill.customer,'posting_date': ['<', prev]}, [' sum(debit) as balance','sum(credit) as paid', 'voucher_no']) %}
        <table id="details">
            <tbody>
                <tr>
                    <td class="bold c1">
                        Balance as of {{ xm + " " + xy }}
                    </td>
                    <td class="c2"></td>
                    <td class="c3"></td>
                    {% if sub_totals[0].paid %}
                        <td class="c4">
                            Php
                        </td>
                    {% else %}
                        <td class="c4"></td>
                    {% endif %}

                    <td class="c5">
                        {% if sub_totals[0].paid %}
                            {{ frappe.format(sub_totals[0].balance - sub_totals[0].paid, {'fieldtype':'Currency','options':'PHP' }) }}
                        {% else %}
                            { frappe.format(sub_totals[0].balance, {'fieldtype':'Currency','options':'PHP' }) }}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td class="c1">{{ doc.subscription_period }} @ {{ doc.exchange_rate }}</td>
                    <td class="c2">Php</td>
                    <td class="c3">{{ frappe.format(bill.usd_msf / 1.12, {'fieldtype':'Currency','options':'PHP' }) }}</td>
                    <td class="c4"></td>
                    <td class="c5"></td>
                </tr>

                <tr>
                    <td class="c1">12% VAT</td>
                    <td class="c2"></td>
                    <td class="c3" style='border-bottom:1px solid black;'>{{ frappe.format(bill.usd_msf - (bill.usd_msf / 1.12), {'fieldtype':'Currency','options':'PHP' }) }}</td>
                    <td class="c4"></td>
                    <td class="c5" style='border-bottom:1px solid black;'>{{ frappe.format(bill.usd_msf, {'fieldtype':'Currency','options':'PHP' }) }}</td>
                </tr>

                <tr>
                    <td class="c1">TOTAL</td>
                    <td class="c2"></td>
                    <td class="c3"></td>
                    <td class="c4"></td>

                    <td class="c5">
                        {% if sub_totals[0].paid %}
                            {{ frappe.format(bill.usd_msf + (sub_totals[0].balance - sub_totals[0].paid), {'fieldtype':'Currency','options':'PHP' }) }}
                            {% set this_total = bill.usd_msf + (sub_totals[0].balance - sub_totals[0].paid) %}
                            {% set total_amount = bill.usd_msf + (sub_totals[0].balance - sub_totals[0].paid) %}
                        {% else %}
                            {{ frappe.format(bill.usd_msf + (sub_totals[0].balance or 0), {'fieldtype':'Currency','options':'PHP' }) }}
                            {% set total_amount = bill.usd_msf + (sub_totals[0].balance or 0) %}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td class="c1">Less Payment(s)</td>
                </tr>

                {% set less_payments = frappe.db.sql("""
                    SELECT
                        name, pr_no, paid_amount, posting_date, mode_of_payment, pr_date, direct_deposit_date, reference_date, reference_no, cust_bank_acc, cable_boss_bank_account
                    FROM
                        `tabPayment Entry`
                    WHERE
                        party = %(customer)s AND docstatus = 1 and posting_date between %(start_date)s and %(end_date)s
                    """,
                    {'customer': bill.customer, 'start_date': current_month.start_date, 'end_date': current_month.end_date}, as_dict=True)
                %}


<!--                LOOP COLLECTION -->
                {% for payment_entry in less_payments %}
                     {% if lines[-1] %} {% endif %}
                {% if lines.append( lines[-1] + 2 +((200 / 38)|int)) %}{% endif %}
                {% if (lines[-1]/2) <= pr[-1] %}
                    {% if payment_entry.reference_date %}
                        {% set pe_reference_date = payment_entry.reference_date.strftime('%Y-%m-%d') %}
                        {% set ref_date_parts = pe_reference_date.split('-') %}
                        {% set formatted_reference_date = ref_date_parts[1] + "-" + ref_date_parts[2] + "-" + ref_date_parts[0] %}
                    {% endif %}
                    {% if payment_entry.pr_date %}
                        {% set pe_pr_date = payment_entry.pr_date.strftime('%Y-%m-%d') %}
                        {% set pr_date_parts = pe_pr_date.split('-') %}
                        {% set formatted_pr_date = pr_date_parts[1] + "-" + pr_date_parts[2] + "-" + pr_date_parts[0] %}
                    {% endif %}

                <!--<h1 class='this_footer'>Check By: {{ doc.owner }}</h1>-->

                <!--test count   -->
                <tr>
                    <td class="c1"> &nbsp; &nbsp;
                        {% if payment_entry.mode_of_payment == 'Check' or payment_entry.mode_of_payment == 'Check-USD' %}
                            PR # {{ payment_entry.pr_no }} / {{ payment_entry.cust_bank_acc.split("-")[0] }} / {{ payment_entry.reference_no }} / {{ formatted_reference_date }}
                        {% elif payment_entry.mode_of_payment == 'Cash' or payment_entry.mode_of_payment == 'Cash-USD (Conversion)' %}
                            PR # {{ payment_entry.pr_no }} / {{ payment_entry.mode_of_payment }} / {{ formatted_pr_date }}
                        {% elif payment_entry.mode_of_payment == 'Direct Deposit' or payment_entry.mode_of_payment == 'Direct Deposit-USD'%}
                            PR # {{ payment_entry.pr_no }}/ {{ payment_entry.cable_boss_bank_account.split('-')[0] }}  / {{ payment_entry.mode_of_payment }} / {{ formatted_pr_date }}
                        {% else %}
                            PR # {{ payment_entry.pr_no }} / {{ payment_entry.mode_of_payment }} / {{ payment_entry.direct_deposit_date }}
                        {% endif %}
                    </td>

                    <td class="c2"></td>

                    {% if loop.last %}
                        <td class="c3" style="border-bottom:1px solid black;" >{{ frappe.format( payment_entry.paid_amount , {'fieldtype':'Currency','options':'PHP' }) }} </td>
                    {% else %}
                        <td class="c3"> {{ frappe.format( payment_entry.paid_amount , {'fieldtype':'Currency','options':'PHP' }) }} </td>
                    {% endif %}

                        <td class="c4"></td>

                    {% if loop.last %}
                    {% set totals_payment = frappe.db.get_list('Payment Entry', {'party':bill.customer,'posting_date': ['between', [current_month.start_date, current_month.end_date]], 'docstatus': 1}, [' sum(paid_amount) as paid_amount']) %}
                        <td class="c5 text-right" style="border-bottom:1px solid black;" > {{ frappe.format( totals_payment[0].paid_amount , {'fieldtype':'Currency','options':'PHP' }) }} </td>
                    {% endif %}
                </tr>


                {% else %}
                {{ below_items() }}

                <!--<h1 class='this_footer'>Check By: {{ doc.owner }}</h1>-->

                <div style="page-break-before: always;"></div>
                {% if pr[-1] %} {% endif %}
<!--                <h1 style="padding-top:-10px;" > PAGE {{ pr[-1] + 1 }} </h1>-->
                {% if pr.append( pr[-1] + 1 ) %}{% endif %}
                {{ above_items() }}

                <tr>
                    <td class="c1"> &nbsp; &nbsp;
                        {% if payment_entry.mode_of_payment == 'Check' or payment_entry.mode_of_payment == 'Check-USD' %}
                            PR # {{ payment_entry.pr_no }} / {{ payment_entry.cust_bank_acc.split("-")[0] }} / {{ payment_entry.reference_no }} / {{ formatted_reference_date }}
                        {% elif payment_entry.mode_of_payment == 'Cash' or payment_entry.mode_of_payment == 'Cash-USD (Conversion)' %}
                            PR # {{ payment_entry.pr_no }} / {{ payment_entry.mode_of_payment }} / {{ formatted_pr_date }}
                        {% elif payment_entry.mode_of_payment == 'Direct Deposit' or payment_entry.mode_of_payment == 'Direct Deposit-USD'%}
                            PR # {{ payment_entry.pr_no }}/ {{ payment_entry.cable_boss_bank_account.split('-')[0] }}  / {{ payment_entry.mode_of_payment }} / {{ formatted_pr_date }}
                        {% else %}
                            PR # {{ payment_entry.pr_no }} / {{ payment_entry.mode_of_payment }} / {{ payment_entry.direct_deposit_date }}
                        {% endif %}
                    </td>

                    <td class="c2"></td>

                    {% if loop.last %}
                        <td class="c3" style="border-bottom:1px solid black;" >{{ frappe.format( payment_entry.paid_amount , {'fieldtype':'Currency','options':'PHP' }) }} </td>
                    {% else %}
                        <td class="c3"> {{ frappe.format( payment_entry.paid_amount , {'fieldtype':'Currency','options':'PHP' }) }} </td>
                    {% endif %}

                        <td class="c4"></td>

                    {% if loop.last %}
                    {% set totals_payment = frappe.db.get_list('Payment Entry', {'party':bill.customer,'posting_date': ['between', [current_month.start_date, current_month.end_date]], 'docstatus': 1}, [' sum(paid_amount) as paid_amount']) %}
                        <td class="c5 text-right" style="border-bottom:1px solid black;" > {{ frappe.format( totals_payment[0].paid_amount , {'fieldtype':'Currency','options':'PHP' }) }} </td>
                    {% endif %}
                </tr>
<!--                {% endif %}-->
<!--                {% endfor %}-->

<!--                END LOOP COLLECTION -->

                <tr>
                    <td class="c1">Add(Deduct): Adjustments</td>
                </tr>

                {% set accounting_entries = frappe.db.sql("""
                    SELECT
                        sum(jea.debit) as debit, sum(jea.credit) as credit, jea.parent, je.name as journal, je.posting_date, je.soa_remark_3, jea.party as customer,
                        case
                            when sum(jea.debit) = 0 then -sum(jea.credit)
                            else sum(jea.debit)
                        end as amount,

                        case
                            when sum(jea.debit) = 0 then 'credit'
                            else 'debit'
                        end as debit_credit

                    FROM
                        `tabJournal Entry Account` jea

                    LEFT JOIN
                    `tabJournal Entry` je ON je.name = jea.parent

                    WHERE
                    jea.party = %(customer)s
                    AND jea.docstatus = 1
                    and je.naming_series in ('BILL-JV-.YYYY.-', 'BILL-JV-.YYYY.-.MM.-.####')
                    and je.posting_date between %(start_date)s and %(end_date)s
                    and jea.account LIKE %(like)s
                    group by je.name
                    """,
                    {'customer': bill.customer, 'start_date': current_month.start_date, 'end_date': current_month.end_date, 'like': '%ACCTS. REC.%'}, as_dict=True)
                %}

<!--                LOOP JOURNAL ENTRY-->
                <!--start loop accouting_entries-->
                {% for entry in accounting_entries %}
                    {% set posting_d = entry.posting_date | string %}
                    {% set cyear1, cmonth1, cday1 = posting_d.split("-") %}

                    {% if ((cmonth1 | int) - 1) == 0 %}
                        {% set cyear1 = ((cyear1 | int) - 1) | str %}
                        {% set cmonth1 = 12 | str %}
                    {% endif %}

                    {% set posting_d1 = [cyear1, cmonth1, cday1] | join("-") %}
                    {% set y1, d1, m1 = frappe.format_date(posting_d1).split(" ") %}
                    {% set acc_ent = entry.amount|string %}

                <!--test count-->
                <tr>
                    <td class="c1">&nbsp; &nbsp; {{ entry.soa_remark_3 }} </td>
                    <td class="c2"></td>

                    {% if loop.last %}
                        <td class="c3 text-right" style="border-bottom:1px solid black;">
                        {% if acc_ent.split('-')|len == 2  %}
                            ({{ frappe.format( acc_ent.split('-')[-1], {'fieldtype':'Currency','options':'PHP' }) }})
                        {% else %}
                            {{ frappe.format( acc_ent.split('-')[-1], {'fieldtype':'Currency','options':'PHP' }) }}
                        {% endif %}
                        </td>
                    {% else %}
                        {% if acc_ent.split('-')|len == 2  %}
                            <td c3 class="text-right" >({{ frappe.format( acc_ent.split('-')[-1], {'fieldtype':'Currency','options':'PHP' }) }}) </td>
                        {% else %}
                            <td c3 class="text-right" >{{ frappe.format( acc_ent.split('-')[-1], {'fieldtype':'Currency','options':'PHP' }) }} </td>
                        {% endif %}
                    {% endif %}

                <td class="c4"></td>

                {% set account_entries = frappe.db.sql("""
                    SELECT
                    jea.parent, je.name as journal, je.posting_date, je.soa_remark_3, jea.party as customer,
                    sum(
                    case
                    when jea.debit = 0 then -jea.credit
                    else jea.debit
                    end
                    ) as amount,

                    case
                    when sum(jea.debit) = 0 then 'credit'
                    else 'debit'
                    end as debit_credit

                    FROM
                    `tabJournal Entry Account` jea
                    LEFT JOIN
                    `tabJournal Entry` je ON je.name = jea.parent
                    WHERE
                    jea.party = %(customer)s AND jea.docstatus = 1 and je.naming_series in ('BILL-JV-.YYYY.-', 'BILL-JV-.YYYY.-.MM.-.####') and je.posting_date between %(start_date)s and %(end_date)s and jea.account LIKE %(like)s

                    """,
                {'customer': bill.customer, 'start_date': current_month.start_date, 'end_date': current_month.end_date, 'like': '%ACCTS. REC.%'}, as_dict=True)
                %}

                    {% set sum_total_adjustment = [] %}

                    {% if loop.last %}
                        {% set totals_payment = frappe.db.get_list('Payment Entry', {'party':bill.customer,'posting_date': ['between', [current_month.start_date, current_month.end_date]], 'docstatus': 1}, [' sum(paid_amount) as paid_amount']) %}
                        {% set acc_ent = account_entries[0].amount|string %}

                        {% if acc_ent.split('-')|len == 2 %}
                            <td class="c5" style="border-bottom:1px solid black;">({{ frappe.format( -1 * account_entries[0].amount, {'fieldtype':'Currency','options':'PHP' }) }})</td>
                        {% else %}
                            <td class="c5" style="border-bottom:1px solid black;">{{ frappe.format( account_entries[0].amount, {'fieldtype':'Currency','options':'PHP' }) }}</td>
                        {% endif %}
                    {% else %}
                        <td class="c5"></td>
                    {% endif %}
                </tr>
                {% endfor %}'

<!--        END LOOP JOURNAL ENTRY    -->
        <!--end loop accouting_entries-->


<!--  *************************************************************  -->

    {{ below_items() }}


                             </tbody>
            </table>

        </div>

    <div class="page-break"></div>
    {% endfor %}


</body>
</html>